*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.card{
    margin-top: 15px;
    margin-left: 200px;
    box-shadow: 1px 1px 1px 3px #e8e8e8;
    border-radius: 5px;
    width: 70%;
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.card-col-1{
    width: 30%;
    height: 100%;
}

.card-col-2{
    width: 50%;
    height: 100%;
}

.card-col-3{
    width: 20%;
    height: 100%;
}

.card-col-2-row-1{
    display: flex;
    justify-content: space-between;
}

.card-col-2-row-1>section:first-child{
    display: flex;
    color: #009681;
    border: 0.1px solid #009681;
    border-radius: 5px;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: 0.1px;
    height: 20px;
}

.card-col-2-row-1>section:first-child>p:first-child{
    padding-top: 1px;
    font-size: 11px;
    font-weight: 400;
}

.card-col-2-row-1>section:first-child>p:last-child{
    margin-left: 3px;
    font-size: 10px;
    font-weight: 600;
}

.card-col-2-row-1>section:nth-child(2)>p:first-child{
    font-size: 20px;
    margin-right: 7px;
    cursor: pointer;
}

.card-col-2-row-1>section:nth-child(2)>p:nth-child(2){
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.card-col-2-row-1>section:nth-child(2)>p:last-child{
    font-size: 20px;
    cursor: pointer;
}

.card-col-2-row-1>section:last-child{
    display: flex;
}

.card-col-2-row-2>p:first-child{
    font-size: 16px;
    font-weight: 600;
}

.card-col-2-row-2>p:last-child{
    font-size: 14px;
}

.card-col-2-row-2{
    margin-top: 10px;
}

.card-col-2-row-3{
    margin-top: 20px;
}

.card-col-2-row-3>table{
    width: 100%;
    border: 2px solid #e8e8e8;
    border-radius: 10px;
    padding-top: 15px;
    padding-left: 10px;
}

.card-col-2-row-3>table>tbody{
}

.card-col-2-row-3>table>tbody>tr{
    /* width: 550px; */
    display: flex;
}

.card-col-2-row-3>table>tbody>tr>td{
    width: 33%;
    padding-left: 10px;
    /* background-color: black; */
}

.card-col-2-row-3>table>tbody>tr>td>p:first-child{
    font-size: 11px;
}

.card-col-2-row-3>table>tbody>tr>td>p:last-child{
    font-size: 12px;
    font-weight: 600;
}

.card-col-2-row-3>table>tbody>tr:nth-child(2){
    margin-top: 10px;
}

.dummy-border{
    font-size: 35px;
    color: #cfcfcf;;
}

.card-col-2-row-4{
    margin-top: 15px;
    font-size: 12px;
}

.slider-icons{
    width: 300px;
    height: 325px;
    border: none;
    border-radius: 7px;
 }

 .card-col-3{
    
 }